<div class="container">
  <div class="row">
    <h2 class="text-center display-1 text-success"><b>INORGANIC FERTILIZERS</b></h2>
  </div>
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <img src="../assets/img/ino.jpg" class="img-fluid" alt="...">
    </div>
  </div>
</section>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<section>
  <div class="container-fluid">
    <div class="row">
      <h6>Inrganic fertilizer is also called as a chemical fertilizer is a synthetic, chemical-based substance
        containing one or more nutrients essential for enhancement of plant
        growth and soil fertility. Most of the chemical fertilizers used are NPK
        fertilizers which are rich in nitrogen (N), phosphorous (K), and
        potassium (K). Fertilizers may also add secondary nutrients such as
        sulphur, magnesium, and calcium to the soil or growing media.
        The proper use of chemical fertilizers represents one of the most cost-effective ways to boost plant production.
      </h6>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  <section>
    <div class="Fertilizers1">
      <div class="container">
        <div class="row g-5 p-5">
          <div class="col-lg-6">
            <h3 class="text-right"><b>Advantages Of Inorganic Fertilizers</b></h3>
            <ul>
              <li><b>Works immediately:</b></li>
              <p>Inorganic fertilizers are usually given as a “rescue treatment” to plants that are malnourished,
                unhealthy or even dying. Inorganic fertilizers are appropriate in this situation because the nutrients
                needed by the plants are readily available</p>
              <li><b>Contains all necessary nutrients that are ready to use:</b></li>
              <p>Inorganic fertilizers are designed to give plants all the nutrients-Nitrogen, Phosphorous and Potassium
                that they need in appropriate proportions and amounts</p>
              <li><b> Affordable:</b></li>
              <p>You do not have to spend much on buying an inorganic fertilizer because it is relatively cheap.</p>
              <li><b>Convenient to use:</b></li>
              <p>With an inorganic fertilizer, you save a lot of time and effort. Inorganic fertilizers are quite cheap
                and even easier to use and prepare. They are available at almost every gardening store.</p>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="position-relative h-100">
              <img class="img-fluid position-absolute w-100 h-100" src="../assets/img/adv.jpg" alt=""
                style="object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Fertilizers2">
      <div class="container">
        <div class="row g-5 p-5">
          <div class="col-lg-6">
            <div class="position-relative h-100">
              <img class="img-fluid position-absolute w-100 h-100" src="../assets/img/dis.jpg" alt=""
                style="object-fit: cover;">
            </div>
          </div>
          <div class="col-lg-6">
            <h2 class="section-title text-start text-dark pe-3">Disadvantages Of Inorganic Fertilizers
            </h2>
            <ul>
              <li><b>Leeching happens:</b></li>
              <p>Leeching happens very often as you water your plants. Hence, a lot of the fertilizer goes to waste.
                Nitrogen is one of the elements that easily get washed away since it usually settles below the roots of
                the plants quickly.</p>
              <li><b>Some are not affordable:</b></li>
              <p>Generally, inorganic fertilizers are inexpensive. Yet, some specially formulated inorganic fertilizers
                come at a cost that are considerably higher than most.</p>
              <li><b>Accumulation of toxic wastes:</b></li>
              <p>Inorganic fertilizers are composed of some salts and other compounds.these are are not washed away left
                behind for long time. It has been reported that the toxic wastes from fertilizers contaminating the
                water we drink is bad for the health.</p>
              <li><b>Too much is not a good thing:</b></li>
              <p>Fertilizers are good sources of nutrients for plants. However, too much of it can also be harmful to
                the plants. Applying the fertilizer directly to the plants may burn the delicate plant structures such
                as the roots. This could affect the over-all development of the plant.</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <li> Types of Inorganic Fertilizrs</li>
        <a class="itypes" routerLink="/itypes">Types of Inorganic Fertilizers</a>
      </div>
    </div>
  