<div class="otypes">
    <div class="container">
        <div class="row pt-5">
            <h1 class="text-center text-SUCCESS">TYPES OF ORGANIC FERTILIZERS</h1>
        </div>
        <div class="row">
            <img src="../assets/img/types.jpg" class="img-fluid" alt="...">
            <h6>Organic Fertilizers are different types of fertilizers derived from vegetable matter, mineral matter,
                animal matter, etc. Here are some of the most common kinds:</h6>
        </div>
        <div class="row pt-3">
            <h1 class="text-center  text-SUCCESS">ANIMAL-BASED </h1>
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/bone meal.jpg">
                        <h5 class="mb-3"> Bone Meal </h5>
                        <p>Bone meal is made from crushed animal bones. It’s rich in phosphorus and calcium and supplies
                            some nitrogen. It can promote plant seedling growth, help flowers grow, and increase yield.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <img src="../assets/img/blood meal.jpg">
                        <h5 class="mb-3">Blood meal</h5>
                        <p>A blood meal is a dried form of animal blood. It can increase the nitrogen content in the
                            soil and makes the plants denser. Release nitrogen quickly promotes flowering and acts as a
                            natural pest repellent.
                            But usage and application should be made sparingly, as over-application can contribute to
                            the burning of the plant root.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <img src="../assets/img/.animal manure.jpg">
                        <h5 class="mb-3">Animal Manure</h5>
                        <p>It can come from a variety of animals. For example, cow manure can control weeds and
                            increases the moisture-holding capacity of the soil and increases air penetration in the
                            soil.
                            Seabird guano is an organic fertilizer for lawns. It can act as a natural fungicide and
                            control nematodes in the soil.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <img src="../assets/img/fish meal.jpg">
                        <h5 class="mb-3">Fish meal</h5>
                        <p>Fish meal is a fast-release fertilizer that is a rich source of organic nitrogen, phosphorus,
                            and calcium. It can improve soil health, increase fertility, and make plants thrive. (Fish
                            Fertilizer)].
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pt-3">
            <h1 class="text-center  text-SUCCESS">PLANT-BASED </h1>
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">ss
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/organic compost.jpg">
                        <h5 class="mb-3"> Compost </h5>
                        <p>Compost is rich in nutrients and can be used as an excellent soil improver to promote organic
                            matter and soil fertility.
                            It provides rich growth nutrition for plants, which can retain water in the soil for a long
                            time.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <img src="../assets/img/cotton seed meal.jpg">
                        <h5 class="mb-3">Cottonseed Meal</h5>
                        <p>Cottonseed Meal is a rich source of nitrogen and a small amount of phosphorus and potassium.
                            It can be an excellent organic fertilizer grass.
                            It is mainly used to cover the garden soil to regulate the soil environment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <img src="../assets/img/alfa alfaa.jpg">
                        <h5 class="mb-3">Alfalfa and Soybean meal</h5>
                        <p>It can come from a variety of animals. For example, cow manure can control weeds and
                            increases the moisture-holding capacity of the soil and increases air penetration in the
                            soil.
                            Seabird guano is an organic fertilizer for lawns. It can act as a natural fungicide and
                            control nematodes in the soil.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <img src="../assets/img/see weed.jpg">
                        <h5 class="mb-3">Seaweed</h5>
                        <p>Seaweed is an immediate-release fertilizer and an excellent source of zinc and iron. It goes
                            well with the high-potash crop. (Seaweed Fertilizer)
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pt-1">
            <h1 class="text-center  text-SUCCESS">MINERAL</h1>
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-6 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/green sand.jpg">
                        <h5 class="mb-3">Greensand</h5>
                        <p>Greensand is an olive-green sandstone containing glauconite. It is a rich source of iron,
                            potassium, and magnesium.
                            It aids in the stimulation of flowering and fruition in fruit trees. And loosen the soil,
                            increase the water content in the soil to improve the rhizosphere.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <img src="../assets/img/rock phospate.jpg">
                        <h5 class="mb-3">Rock Phosphate</h5>
                        <p>Phosphate is extracted from mineral rocks and clay.
                            It has over 30% phosphate, together with high concentrations of trace micronutrients. It can
                            be used to increase soil acidity and promote plant seedling growth.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5">
                <h1 class="text-center text-SUCCESS">Crops Based On Seasons And Their Organic Fertilizers</h1>
            </div>
            <div class="row g-4 p-5">
                <h3>Seasons And Crops</h3>
                <h5><b>Kharif(Vanakalam(june-September)):</b>Rice,Maize,Pulses,Chillies,Sugarcane,Groundnut,cotton</h5>
                <h5><b>Rabi(Yasangi(December-March)):</b>Rice,Maize,Groundnut,Sunflower,Wheat,Barley,,Pulses,Oats,Mustards
                </h5>
            </div>


            <div class="row g-4 p-5">

                <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <img src="../assets/img/{{product.ImageName}}">
                            <h5 class="mb-3">{{product.CropName}}:{{product.Name}}</h5>
                            <h5 class="mb-3">{{product.Price|currency:'INR'}}</h5>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-lg-3 col-sm-6">
        <div class="service-item text-center pt-3">
           <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="../assets/img/maizeo.jpg">
             <h5 class="mb-3">Maize:Srimin</h5>
            </div>
        </div> 
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="service-item text-center pt-3">
               <div class="p-4">
                <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                <img  src="../assets/img/pulseso.jpg">
                 <h5 class="mb-3">Pulses:Bhusudharini</h5>
                </div>
            </div>   
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="service-item text-center pt-3">
              <div class="p-4">
               <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
               <img  src="../assets/img/groundnuto.jpg">
               <h5 class="mb-3">Groundnut:Groundnut cake</h5>
               </div>
           </div>   
        </div> -->
            </div>
            <!-- <div class="row g-4 p-5">
        <div class="col-lg-4 col-sm-6">
            <div class="service-item text-center pt-3">
               <div class="p-4">
                <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                <img  src="../assets/img/cottono.jpg">
                 <h5 class="mb-3">Cotton:Cottonseed Meal</h5>
                </div>
            </div>   
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="service-item text-center pt-3">
            <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <img  src="../assets/img/chio.jpg">
             <h5 class="mb-3">Chillie:Soil Rich+</h5>
            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="service-item text-center pt-3">
               <div class="p-4">
                <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                <img  src="../assets/img/sugar2.jpg">
                 <h5 class="mb-3">Sugarcane:Bone Meal</h5>
                </div>
            </div>   
       </div>
   </div> -->
        </div>
    </div>