<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

  </div>

  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="../assets/img/fertlizer1.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item active">
      <img src="../assets/img/intro3.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/organic.jpg" class="d-block w-100" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/tractor4.jpg" class="d-block w-100" alt="Slide 4">
    </div>
  </div>

  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<section>
  <div class="container">
    <div class="row pt-5">
      <h1 class="text-center display-1 text-success"><b>Fertilizers</b></h1>
    </div>
    <div class="row">
      <img src="../assets/img/ferti.jpg" class="img-fluid" alt="...">
    </div>
  </div>
</section>
<section>
  <div class="Fertilizers">
    <div class="container">
      <div class="row g-5 p-5">
        <div class="col-lg-5">
          <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="../assets/img/logo4.jpg" alt=""
              style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-7">
          <h2 class="section-title text-start text-dark pe-3">Fertilizers
          </h2>
          <p class="mb-0">Fertilizers are chemical substances supplied to the crops to increase their productivity.
            These are used by the farmers daily to increase the crop yield. The fertilizers contain the essential
            nutrients required by the plants, including nitrogen, potassium, and phosphorus. They enhance the water
            retention capacity of the soil and also increase its fertility.</p>
          <p class="mb-0">Fertilizers improve the water holding capacity of the plants and increase root depth.The
            potassium content present in the fertilizers strengthens the straws and stalks of the plants.
            The phosphorus present in the fertilizers helps in the faster development of roots .Nitrogen in the
            fertilizers enhances the growth of the plants which can be characterized by the green colour of the plants.
            Biofertilizers were brought into use. These are substances that contain living or latent cells, and even
            micro-organisms. They provide the soil with the necessary nutrients and microbes for the growth of the
            plants. They help the soil to retain its fertility and environment-friendly ,destroy pathogenic components
            responsible for causing disease in plants. Acetobacter and Rhizobium are two such widely used
            biofertilizers.
          </p>
          <ul>
            <li>Organic Fertilizrs</li>
            <a class="nav-item" routerLink="/organic">Readmore</a>
            <li>Inorganic Fertilizers</li>
            <a class="nav-item" routerLink="/inorganic">Readmore</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<!--crops section starts here-->
<div class="crops">
  <div class="container-fluid">
    <h1 class="text-center">Some major crops in Telangana</h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/img/corn.png" alt="">
        <h4 class="text-center">Adilabad:Maize</h4>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/groundnut3.jpg" alt="">
        <h4 class="text-center">Jagtial:Groundnut</h4>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/co1.jpg" alt="">
        <h4 class="text-center">Gadwal:Cotton</h4>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/sugarcane1.jpg" alt="">
        <h4 class="text-center">Kamareddy:Sugarcane</h4>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/seeds.png" alt="" sty>
        <h4 class="text-center">Mahabubangar:Seeds</h4>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/rice.png" alt="">
        <h4 class="text-center">Medak:Paddy</h4>
      </div>

    </div>
  </div>
</div>
<!--crops section ends here-->