<div class="itypes">
    <div class="container">
        <div class="row pt-5">
            <h1 class="text-center text-SUCCESS">TYPES OF INORGANIC FERTILIZERS</h1>
        </div>
        <div class="row">
            <img src="../assets/img/tinorg.jpg" class="img-fluid" alt="...">
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/N.jpg">
                        <h5 class="mb-3">Nitrogenous fertilizers</h5>
                        <p>The nitrogen-containing organic substances
                            that supply the nutrition of nitrogen to the plants.They are of four
                            types:
                            <li>Nitrate:e.g.Sodium nitrate.</li>
                            <li>Nitrate and Ammonium:e.g.Ammonium Sulphate.</li>
                            <li>Amide: e.g.Urea.</li>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <img src="../assets/img/phos.jpg">
                        <h5 class="mb-3">Phosphatic Fertilizers:</h5>
                        <p>Phosphatic fertilizers are the phosphorous-containing organic
                            substances that supply the nutrition of phosphorous to the plants.
                            <li>Calcium dihydrogen phosphate,</li>
                            <li>Ammonium phosphate</li>
                            <li>Ammonium hydrogen phosphate</li>
                            <li>Super phosphate</li>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <img src="../assets/img/pott.jpg">
                        <h5 class="mb-3">Potassium Fertilizers:</h5>
                        <p>Potassium fertilizers are the potassium-containing organic substances
                            that supply the nutrition of potassium to the plants.
                            <li>Potassium chloride </li>
                            <li>Potassium sulphate</li>
                            <li>Potassium nitrate</li>
                            <li>kainite</li>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            <h1 class="text-center text-SUCCESS">Crops Based On Seasons And Their Inorganic Fertilizers</h1>
        </div>
        <div class="row g-4 p-5">
            <h3>Seasons And Crops</h3>
            <h5><b>Kharif(Vanakalam(june-September)):</b>Rice,Maize,Pulses,Chillies,Sugarcane,Groundnut,cotton</h5>
            <h5><b>Rabi(Yasangi(December-March)):</b>Rice,Maize,Groundnut,Sunflower,Wheat,Barley,,Pulses,Oats,Mustards
            </h5>
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/ricei.jpg ">
                        <h5 class="mb-3">Rice:20-20-0-13</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/maizei.jpg ">
                        <h5 class="mb-3">Maize:Nitrogen</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/pulsesi.jpg">
                        <h5 class="mb-3">Pulses:Micro Sul </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/groundnuti.jpg">
                        <h5 class="mb-3">Groundnut:Ammonium Sulphate</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 p-5">
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/cottoi.jpg ">
                        <h5 class="mb-3">Cotton:Urea</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/chillii.jpg">
                        <h5 class="mb-3">Chillie:N.P.K 19-19-19</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/sugari.jpg ">
                        <h5 class="mb-3">Sugarcane:Single Super phospate(SSP)</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <img src="../assets/img/sunfloweri.jpg ">
                        <h5 class="mb-3">SunFlower:DAP</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6 b">
    <b><h2>Apply of </h2></b>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/VyHV0BRtdxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

            -->
    </div>