<div class="otypes">
  <div class="container">
    <div class="row">
      <h2 class="text-center display-1 text-success"><b>ORGANIC FERTILIZERS</b></h2>
    </div>
  </div>
  <section>
    <div class="container-fluid">
      <div class="row">
        <img src="../assets/img/ohead.jpg" class="img-fluid" alt="...">
      </div>
      <div class="row">
        <p>Organic fertilizer is also called “organic manure.” The definition of organic fertilizer is simple. Mostly,
          it refers to compost made from animal waste or animal and plant residues that are rich in natural by-products.
          For example, guano, dried and powdered blood, ground bone, crushed shells, finely pulverized fish, phosphate
          rock, and wood.
          The nutrient elements contained in organic fertilizer are mostly inorganic state, so it is difficult for crops
          to use them directly. Through the action of microorganisms, a variety of nutrient elements are released slowly
          to provide nutrients to plants continuously.</p>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <div class="container">
      <div class="row">
        <img src="../assets/img/imp.jpg" class="img-fluid" alt="...">
      </div>
      <div class="row p-5">
        <h2>Significance of Organic Fertilizer</h2>
        <p>With the continuous development of modern agriculture, the role of organic fertilizers in agricultural
          production is becoming more and more important. Agricultural products grown with organic fertilizers have good
          taste and can effectively maintain the unique nutrition and flavor of fruits and vegetables, and also play a
          pivotal role in the protection and improvement of the soil environment. Therefore, it is necessary for us to
          apply and understand organic fertilizers.
          Nowadays, there is a phenomenon in agricultural production that on one side, excessive use of chemical
          fertilizers brings soil acidification and eutrophication of water bodies, and on the other side, improper
          accumulation of livestock and poultry manure causes pollution. We replace chemical fertilizers through organic
          fertilizers, so that the combination of agriculture and animal husbandry more closely, the use of livestock
          and poultry manure, but also to improve the quality of agricultural products, which is a multi-benefit good.
        </p>
      </div>
      <div class="row">
        <h1 class="text-center text-SUCCESS">PROS AND CONS</h1>
      </div>
      <div>
        <div class="row g-5 p-5">
          <div class="col-lg-6">
            <ul><b>Pros</b>
              <li>Boost both nutrient efficiency and organic matter content in the soil</li>
              <p>It improves water movement into the soil and, in time, add structure to the soil. Organics feed
                beneficial microbes, making the soil more comfortable to work.</p>
              <li> Enhanced soil fertility and improved soil texture, drainage, and aeration.</li>
              <p>It can help the soil continuously condition and rejuvenated, thereby improving soil texture, drainage,
                and aeration.</p>
              <li>Enhance the quality attributes of produce as well as yield</li>
              <p>It contains a large number of nutrients needed by plants, which provide relatively smooth and lasting
                nutrients to plants and have a long aftereffect.</p>
              <li>Total Environmentally friendly</li>
              <p>They are renewable, biodegradable, sustainable, and environmentally friendly.</p>
              <p> It does not contain the harmful chemicals that contribute to the pollution and contamination of water
                and land.</p>
            </ul>
          </div>
          <div class="col-lg-6">
            <img src="../assets/img/pro.jpg" class="img-fluid" alt="...">
          </div>
        </div>
        <div class="row text-center">
          <ul><b>cons</b>
            <li>More expensive to purchase than synthatic fertilizer</li>
            <li>Large amount required to provide proper nutrients</li>
            <li> So organic fertilizers may take much longer to take effect than chemical fertilizers.</li>
            <li>But please be patient, when microbial populations re-establish themselves, organic fertilizers will be
              faster and more efficient.</li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <li> Types of Inorganic Fertilizrs</li>
          <a class="otypes" routerLink="/otypes">Types of Organic Fertilizers</a>

        </div>
      </div>